<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>DOUHI'S KITCHEN</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style.css}" />
</head>
<body class="text-center">
	<form class="form-signin" th:action="@{/login}" method="post">
		
		<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
		<br />

		<input type="text" id="inputEmail" class="form-control" name="username" placeholder="Default username : admin" required autofocus /> 

		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Default password : 123" required />
		<button class="btn btn-lg btn-primary btn-block" type="submit">Connecter</button>

		<br />

		<p class="mt-5 mb-3 text-muted">&copy; MQL 2018-2019</p>
		<p>By DOUHI MOHAMMED</p>
	

	</form>

</body>
</html>